body {
  background-image: url('https://w0.peakpx.com/wallpaper/471/8/HD-wallpaper-youtube-logo-winter-concepts-snow-texture-snow-background-youtube-emblem-winter-art-youtube.jpg');
  background-color: ghostwhite;
  text-decoration: blue;
  text-decoration-color: red;
  background-size: 30%;
}

.col-align {
  text-align: center;
}

/* .center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row-spacer {
  margin-bottom: 2em;
} */
